h1 {
  font-size: 38px;
  color: #000000;
}

p {
  font-size: 16px;
  color: #27214266;
}

strong {
  color: #f65282;
}

a {
  color: #885df1;
}

.current-weather-text {
  line-height: 20px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-temperature-icon {
  font-size: 40px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bolder;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -40px;
}

.weather-app {
  margin: 0 auto;
  margin-top: 75px;
  width: 600px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

body {
  background: #f9f7fe;
  font-family: Roboto, sans-serif;
}

hr {
  opacity: 10%;
}

.current-weather {
  padding: 10px;
}

.search-input {
  background: #f9f7fe;
  color: rgba(39, 33, 66, 0.4);
  padding: 20px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  width: 80%;
  text-decoration: none;
}

.search-button {
  background: #885df1;
  color: white;
  margin: 0px 0px 0px 5px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: none;
  font-size: 15px;
  border: none;
}

.search-button:hover {
  cursor: pointer;
}
